[class^='icon-'],
[class*=' icon-'] {
  font-family: 'fontello';
  font-style: normal;
  font-weight: normal;

  /* fix buttons height */
  line-height: 1em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
}

.icon-adult {
  *zoom: expression(
    this.runtimeStyle[ 'zoom' ] = '1',
    this.innerHTML = '&#xe800;&nbsp;'
  );
}
.icon-menu-outline {
  *zoom: expression(
    this.runtimeStyle[ 'zoom' ] = '1',
    this.innerHTML = '&#xe801;&nbsp;'
  );
}
.icon-clipboard {
  *zoom: expression(
    this.runtimeStyle[ 'zoom' ] = '1',
    this.innerHTML = '&#xe802;&nbsp;'
  );
}
.icon-logout {
  *zoom: expression(
    this.runtimeStyle[ 'zoom' ] = '1',
    this.innerHTML = '&#xe804;&nbsp;'
  );
}
.icon-cog {
  *zoom: expression(
    this.runtimeStyle[ 'zoom' ] = '1',
    this.innerHTML = '&#xe805;&nbsp;'
  );
}
.icon-commerical-building {
  *zoom: expression(
    this.runtimeStyle[ 'zoom' ] = '1',
    this.innerHTML = '&#xe811;&nbsp;'
  );
}
.icon-warehouse {
  *zoom: expression(
    this.runtimeStyle[ 'zoom' ] = '1',
    this.innerHTML = '&#xe840;&nbsp;'
  );
}
.icon-money {
  *zoom: expression(
    this.runtimeStyle[ 'zoom' ] = '1',
    this.innerHTML = '&#xf0d6;&nbsp;'
  );
}
