.icon-adult:before {
  content: '\e800';
} /* '' */
.icon-menu-outline:before {
  content: '\e801';
} /* '' */
.icon-clipboard:before {
  content: '\e802';
} /* '' */
.icon-logout:before {
  content: '\e804';
} /* '' */
.icon-cog:before {
  content: '\e805';
} /* '' */
.icon-commerical-building:before {
  content: '\e811';
} /* '' */
.icon-warehouse:before {
  content: '\e840';
} /* '' */
.icon-money:before {
  content: '\f0d6';
} /* '' */
