.icon-adult {
  *zoom: expression(
    this.runtimeStyle[ 'zoom' ] = '1',
    this.innerHTML = '&#xe800;&nbsp;'
  );
}
.icon-menu-outline {
  *zoom: expression(
    this.runtimeStyle[ 'zoom' ] = '1',
    this.innerHTML = '&#xe801;&nbsp;'
  );
}
.icon-clipboard {
  *zoom: expression(
    this.runtimeStyle[ 'zoom' ] = '1',
    this.innerHTML = '&#xe802;&nbsp;'
  );
}
.icon-logout {
  *zoom: expression(
    this.runtimeStyle[ 'zoom' ] = '1',
    this.innerHTML = '&#xe804;&nbsp;'
  );
}
.icon-cog {
  *zoom: expression(
    this.runtimeStyle[ 'zoom' ] = '1',
    this.innerHTML = '&#xe805;&nbsp;'
  );
}
.icon-commerical-building {
  *zoom: expression(
    this.runtimeStyle[ 'zoom' ] = '1',
    this.innerHTML = '&#xe811;&nbsp;'
  );
}
.icon-warehouse {
  *zoom: expression(
    this.runtimeStyle[ 'zoom' ] = '1',
    this.innerHTML = '&#xe840;&nbsp;'
  );
}
.icon-money {
  *zoom: expression(
    this.runtimeStyle[ 'zoom' ] = '1',
    this.innerHTML = '&#xf0d6;&nbsp;'
  );
}
