.editEmployee {
  position: fixed;
  background: rgba(grey, 0.6);
  @include flexCenter(row, center, center);
  .exit {
    cursor: pointer;
    position: absolute;
    color: steelblue;
    top: 5px;
    right: 5px;
  }
  form {
    min-width: 300px;
    font-size: 1.5em;
    padding: 10px;
    background: #dedede;
    border-radius: 10px;
    position: relative;
    @include flexCenter(column, center, center);
    background: #dedede;
    border-radius: 10px;
    letter-spacing: 1px;
    label {
      @include flexCenter(column, center, center);
      color: black;
    }
    select {
      font-size: 0.7em;
      width: 150px;
      height: 25px;
      margin: 3px;
      background: #cecece;
      border: none;
      box-shadow: 0 1px 1px #888888;
      border-radius: 10px;
    }
    input {
      font-size: 0.7em;
      width: 150px;
      height: 25px;
      margin: 3px;
      margin-bottom: 10px;
      background: #cecece;
      border: none;
      box-shadow: 0 1px 1px #888888;
      border-radius: 10px;
      transition: 0.5s all ease;
      &:focus {
        width: 200px;
        height: 30px;
        font-size: 0.8em;
        background: #a2d4ff;
        outline: none;
        transition: 0.5s all ease;
      }
    }
    button {
      cursor: pointer;
      @include button();
    }
    * {
      padding: 3px;
    }
  }
  
  // Bigger screens
  @media only screen and (min-width: 900px) {
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
  }
  // Smaller screens
  @media only screen and (max-width: 900px) {
    width: 100%;
    height: 100vh;
    top: 0;
    right: 0;
  }
}