.employeesRender {
  width: 90%;
  margin: 0 auto;
}

.employeesTop {
  display: flex;
  flex-direction: column;
  span {
    @include flexCenter(row, space-between, center);
    h4 {
      margin-right: 6px;
      margin-left: 6px;
      font-weight: lighter;
      letter-spacing: 0.6px;
      cursor: pointer;
      transition: all 0.2s ease-in-out;
      &:hover {
        color: steelblue;
        transition: all 0.2s ease-in-out;
      }
    }
  }
  button {
    @include button();
  }
  .addEmployee {
    color: steelblue;
    padding-top: 10px;
    font-size: 1.3em;
  }
  input {
    margin-top: 10px;
    font-size: large;
    background: none;
    padding-left: 10px;
    border: 1px solid darkgrey;
    border-radius: 10px;
    transition: all 0.5s ease-in-out;
    &:focus {
      color: black;
      background: rgba(255, 255, 255, 0.6);
      border-bottom: 1px solid steelblue;
      outline: none;
      transition: all 0.5s ease-in-out;
    }
  }
  .filter {
    font-size: 1.1em;
    width: 180px;
    height: 25px;
    margin: 3px;
    margin-bottom: 10px;
    margin-top: 10px;
    outline: none;
    background: #e7e7e7;
    color: #5e5e5e;
    border: none;
    box-shadow: 0 1px 1px #888888;
    border-radius: 10px;
  }

  .findEmployees {
    font-size: 1.1em;
    width: 180px;
    height: 30px;
    margin: 3px;
    margin-bottom: 10px;
    margin-top: 10px;
    background: #e7e7e7;
    border: none;
    box-shadow: 0 1px 1px #888888;
    border-radius: 10px;
    transition: 0.5s all ease;
    &:focus {
      width: 210px;
      height: 35px;
      font-size: 1.2em;
      background: #a2d4ff;
      outline: none;
      transition: 0.5s all ease;
    }
  }
}

.employeeseTable {
  border-collapse: collapse;
  width: 100%;
  td,
  th {
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    img {
      width: 10px;
      height: 40px;
    }
    .profilePic {
      width: 30px;
      height: 30px;
      border-radius: 50%;
    }
  }
  tr {
    background: rgb(245, 245, 245);
  }
}

.tableInputTd {
  width: 35px;
  input {
    height: 30px;
    vertical-align: bottom;
  }
}

.employeeTR-inactive {
  background: linear-gradient(90deg, #a2d4ff 2%, rgb(245, 245, 245) 2%) !important;
  background-size: 100% 100% !important;
  transition: all 0.5s ease-in-out;
}

.employeeTR-active {
  background: linear-gradient(90deg, #a2d4ff 2%, rgb(245, 245, 245) 2%) !important;
  background-size: 5000% 100% !important;
  transition: all 0.5s ease-in-out;
}

.employeeForm {
  height: 100vh;
  @include flexCenter(column, center, center);
  form {
    @include flexCenter(column, space-between, center);
    * {
      font-size: 1em;
      margin: 5px;
    }
  }
}
