* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  color: #5e5e5e;
  background: #dedede;
  height: 100%;
  font-family: sans-serif;
  overflow-y: hidden;
}

.App {
  @media only screen and (min-width: 900px) {
    margin-left: 55px;
  }
  @media only screen and (max-width: 400px) {
    padding: 5px;
  }
}
