.header {
  background: rgb(245, 245, 245);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  * {
    padding: 0 10px 0 10px;
  }
  // Bigger screens
  @media only screen and (min-width: 900px) {
    width: 100%;
    height: 75px;
  }
  // Smaller screens
  @media only screen and (max-width: 900px) {
    .headerIcons {
      margin-top: 70px;
    }
  }
  // Under 400, break. No point of having something like that on that type of small screens
  @media only screen and (max-width: 400px) {
    display: none;
  }
}

.headerIcons {
  height: 50px;
  width: 300px;
  border: 1px solid grey;
  box-shadow: 0 1px 1px #888888;
  @include flexCenter(row, space-between, center);
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: grey;
  }
}
