.upperInvoices {
  width: 100%;
  @include flexCenter(row, space-between, center);
  * {
    margin: 10px;
  }
}

.addInvoice {
  color: steelblue;
  font-size: 1.3em;
}

.recentInvoices {
  height: 200px;
  width: 100%;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  @include flexCenter(row, flex-start, center)
}

.invoice {
  width: 150px;
  height: 175px;
  background: #f0f0f0;
  border-radius: 10px;
  margin: 5px 10px 5px 10px;
  text-align: center;
  @include flexCenter(row, center, center);
  img {
    width: 60%;
    max-height: 100px;
  }
}

.invoiceRendered {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  background: rgba(grey, 0.6);
  @include flexCenter(row, center, center);
  .exit {
    cursor: pointer;
    position: absolute;
    color: steelblue;
    top: 0;
    right: 0;
    padding: 7px;
    font-size: xx-large;
    background: white;
  }
}

.invoiceFrame {
  width: 80%;
  height: 90vh;
}
