@mixin flexCenter($direction, $justifyContent, $alignContent) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justifyContent;
  align-items: $alignContent;
  flex-wrap: wrap;
}

@mixin fullPage() {
  margin: 4vh auto;
  text-align: center;
}

@mixin button() {
  width: 80%;
  min-width: 150px;
  max-width: 300px;
  height: 30px;
  font-size: large;
  margin: 10px 0;
  border-radius: 10px;
  color: white;
  background: steelblue;
  border: 1px solid grey;
  box-shadow: 1px 1px 1px #888888;
  transition: 0.5s all ease-in-out;
  @media only screen and (min-width: 900px) {
    &:hover {
      box-shadow: none;
      width: 70%;
      transition: 0.5s all ease-in-out;
    }
  }
}

@mixin userPopup() {
  position: fixed;
  width: 200px;
  height: 200px;
  box-shadow: 1px 1px 3px #888888;
  text-align: center;
  background: #eeeeee;
  margin-top: 8vh;
  overflow: scroll;
  z-index: 7;
  transition: 1s all ease-in-out;
}

@mixin productDiv() {
  max-width: 350px;
  width: 300px;
  height: 440px;
  background: white;
  margin: 10px;
  padding: 10px;
  @include flexCenter(column);
  img {
    width: 70%;
    height: 50%;
  }
  button {
    @include OhOrangeButton();
  }
}
