.navbar {
  position: fixed;
  top: 0;
  left: 0;
  padding: 0;
  color: grey;
  //background: rgba(116, 150, 252, 1);
  background: steelblue;
  background-size: 100% 100%;
  box-shadow: 1px 1px 1px #888888;
  font-family: 'Courier new', serif;
  z-index: 6;
  // Bigger screens
  @media only screen and (min-width: 900px) {
    height: 100%;
    width: 55px;
    @include flexCenter(column, flex-start, center);
    h3 {
      font-size: 1.5em;
    }
  }
  // Smaller screens
  @media only screen and (max-width: 900px) {
    height: 100%;
    width: 100%;
    @include flexCenter(column, space-evenly, center);
  }
}

.navbar-active {
  transition: all 0.5s ease;
  // Smaller screens
  @media only screen and (max-width: 900px) {
    left: 0;
  }
}

.navbar-inactive {
  transition: all 0.5s ease;
  // Smaller screens
  @media only screen and (max-width: 900px) {
    left: -100%;
  }
}

// NavIcon
.navIcon {
  padding: 10px 0 10px 0;
  img {
    width: 45px;
    height: 45px;
  }
}

.navIcon-active {
  img {
    background: red;
  }
}

.navIcon-inactive {
  background: rgba(116, 150, 252, 0);
}

.navbarToggle {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  z-index: 7;
  transition: all 0.5s ease;
  // Bigger screens
  @media only screen and (min-width: 900px) {
    display: none;
  }
  // Smaller screens
  @media only screen and (max-width: 900px) {
    position: absolute;
    top: 10px;
    right: 10px;
  }
}

.navbarToggle-active {
  // Smaller screens
  @media only screen and (max-width: 900px) {
    transform: rotate(180deg);
  }
}

.navbarToggle-inactive {
  // Smaller screens
  @media only screen and (max-width: 900px) {
    transform: rotate(0deg);
  }
}
