.popup {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: 100vh;
  z-index: 7;
  h4 {
    @include flexCenter(column, center, center);
    font-size: 1.5em;
    margin-top: 8vh;
    background: steelblue;
    color: white;
    border-radius: 7%;
    width: 300px;
    height: 100px;
    text-align: center;
  }
}
