* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  color: #5e5e5e;
  background: #dedede;
  height: 100%;
  font-family: sans-serif;
  overflow-y: hidden;
}

@media only screen and (min-width: 900px) {
  .App {
    margin-left: 55px;
  }
}
@media only screen and (max-width: 400px) {
  .App {
    padding: 5px;
  }
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  padding: 0;
  color: grey;
  background: steelblue;
  background-size: 100% 100%;
  box-shadow: 1px 1px 1px #888888;
  font-family: "Courier new", serif;
  z-index: 6;
}
@media only screen and (min-width: 900px) {
  .navbar {
    height: 100%;
    width: 55px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
  }
  .navbar h3 {
    font-size: 1.5em;
  }
}
@media only screen and (max-width: 900px) {
  .navbar {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
  }
}

.navbar-active {
  transition: all 0.5s ease;
}
@media only screen and (max-width: 900px) {
  .navbar-active {
    left: 0;
  }
}

.navbar-inactive {
  transition: all 0.5s ease;
}
@media only screen and (max-width: 900px) {
  .navbar-inactive {
    left: -100%;
  }
}

.navIcon {
  padding: 10px 0 10px 0;
}
.navIcon img {
  width: 45px;
  height: 45px;
}

.navIcon-active img {
  background: red;
}

.navIcon-inactive {
  background: rgba(116, 150, 252, 0);
}

.navbarToggle {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  z-index: 7;
  transition: all 0.5s ease;
}
@media only screen and (min-width: 900px) {
  .navbarToggle {
    display: none;
  }
}
@media only screen and (max-width: 900px) {
  .navbarToggle {
    position: absolute;
    top: 10px;
    right: 10px;
  }
}

@media only screen and (max-width: 900px) {
  .navbarToggle-active {
    transform: rotate(180deg);
  }
}

@media only screen and (max-width: 900px) {
  .navbarToggle-inactive {
    transform: rotate(0deg);
  }
}

.header {
  background: whitesmoke;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header * {
  padding: 0 10px 0 10px;
}
@media only screen and (min-width: 900px) {
  .header {
    width: 100%;
    height: 75px;
  }
}
@media only screen and (max-width: 900px) {
  .header .headerIcons {
    margin-top: 70px;
  }
}
@media only screen and (max-width: 400px) {
  .header {
    display: none;
  }
}

.headerIcons {
  height: 50px;
  width: 300px;
  border: 1px solid grey;
  box-shadow: 0 1px 1px #888888;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}
.headerIcons img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: grey;
}

.employeesRender {
  width: 90%;
  margin: 0 auto;
}

.employeesTop {
  display: flex;
  flex-direction: column;
}
.employeesTop span {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.employeesTop span h4 {
  margin-right: 6px;
  margin-left: 6px;
  font-weight: lighter;
  letter-spacing: 0.6px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.employeesTop span h4:hover {
  color: steelblue;
  transition: all 0.2s ease-in-out;
}
.employeesTop button {
  width: 80%;
  min-width: 150px;
  max-width: 300px;
  height: 30px;
  font-size: large;
  margin: 10px 0;
  border-radius: 10px;
  color: white;
  background: steelblue;
  border: 1px solid grey;
  box-shadow: 1px 1px 1px #888888;
  transition: 0.5s all ease-in-out;
}
@media only screen and (min-width: 900px) {
  .employeesTop button:hover {
    box-shadow: none;
    width: 70%;
    transition: 0.5s all ease-in-out;
  }
}
.employeesTop .addEmployee {
  color: steelblue;
  padding-top: 10px;
  font-size: 1.3em;
}
.employeesTop input {
  margin-top: 10px;
  font-size: large;
  background: none;
  padding-left: 10px;
  border: 1px solid darkgrey;
  border-radius: 10px;
  transition: all 0.5s ease-in-out;
}
.employeesTop input:focus {
  color: black;
  background: rgba(255, 255, 255, 0.6);
  border-bottom: 1px solid steelblue;
  outline: none;
  transition: all 0.5s ease-in-out;
}
.employeesTop .filter {
  font-size: 1.1em;
  width: 180px;
  height: 25px;
  margin: 3px;
  margin-bottom: 10px;
  margin-top: 10px;
  outline: none;
  background: #e7e7e7;
  color: #5e5e5e;
  border: none;
  box-shadow: 0 1px 1px #888888;
  border-radius: 10px;
}
.employeesTop .findEmployees {
  font-size: 1.1em;
  width: 180px;
  height: 30px;
  margin: 3px;
  margin-bottom: 10px;
  margin-top: 10px;
  background: #e7e7e7;
  border: none;
  box-shadow: 0 1px 1px #888888;
  border-radius: 10px;
  transition: 0.5s all ease;
}
.employeesTop .findEmployees:focus {
  width: 210px;
  height: 35px;
  font-size: 1.2em;
  background: #a2d4ff;
  outline: none;
  transition: 0.5s all ease;
}

.employeeseTable {
  border-collapse: collapse;
  width: 100%;
}
.employeeseTable td,
.employeeseTable th {
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
.employeeseTable td img,
.employeeseTable th img {
  width: 10px;
  height: 40px;
}
.employeeseTable td .profilePic,
.employeeseTable th .profilePic {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.employeeseTable tr {
  background: whitesmoke;
}

.tableInputTd {
  width: 35px;
}
.tableInputTd input {
  height: 30px;
  vertical-align: bottom;
}

.employeeTR-inactive {
  background: linear-gradient(90deg, #a2d4ff 2%, whitesmoke 2%) !important;
  background-size: 100% 100% !important;
  transition: all 0.5s ease-in-out;
}

.employeeTR-active {
  background: linear-gradient(90deg, #a2d4ff 2%, whitesmoke 2%) !important;
  background-size: 5000% 100% !important;
  transition: all 0.5s ease-in-out;
}

.employeeForm {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.employeeForm form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.employeeForm form * {
  font-size: 1em;
  margin: 5px;
}

.editEmployee {
  position: fixed;
  background: rgba(128, 128, 128, 0.6);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.editEmployee .exit {
  cursor: pointer;
  position: absolute;
  color: steelblue;
  top: 5px;
  right: 5px;
}
.editEmployee form {
  min-width: 300px;
  font-size: 1.5em;
  padding: 10px;
  background: #dedede;
  border-radius: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background: #dedede;
  border-radius: 10px;
  letter-spacing: 1px;
}
.editEmployee form label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  color: black;
}
.editEmployee form select {
  font-size: 0.7em;
  width: 150px;
  height: 25px;
  margin: 3px;
  background: #cecece;
  border: none;
  box-shadow: 0 1px 1px #888888;
  border-radius: 10px;
}
.editEmployee form input {
  font-size: 0.7em;
  width: 150px;
  height: 25px;
  margin: 3px;
  margin-bottom: 10px;
  background: #cecece;
  border: none;
  box-shadow: 0 1px 1px #888888;
  border-radius: 10px;
  transition: 0.5s all ease;
}
.editEmployee form input:focus {
  width: 200px;
  height: 30px;
  font-size: 0.8em;
  background: #a2d4ff;
  outline: none;
  transition: 0.5s all ease;
}
.editEmployee form button {
  cursor: pointer;
  width: 80%;
  min-width: 150px;
  max-width: 300px;
  height: 30px;
  font-size: large;
  margin: 10px 0;
  border-radius: 10px;
  color: white;
  background: steelblue;
  border: 1px solid grey;
  box-shadow: 1px 1px 1px #888888;
  transition: 0.5s all ease-in-out;
}
@media only screen and (min-width: 900px) {
  .editEmployee form button:hover {
    box-shadow: none;
    width: 70%;
    transition: 0.5s all ease-in-out;
  }
}
.editEmployee form * {
  padding: 3px;
}
@media only screen and (min-width: 900px) {
  .editEmployee {
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
  }
}
@media only screen and (max-width: 900px) {
  .editEmployee {
    width: 100%;
    height: 100vh;
    top: 0;
    right: 0;
  }
}

.addEmployeePannel input, .addEmployeePannel select {
  min-width: 175px;
}
.addEmployeePannel h2 {
  text-align: center;
}

.popup {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: 100vh;
  z-index: 7;
}
.popup h4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-size: 1.5em;
  margin-top: 8vh;
  background: steelblue;
  color: white;
  border-radius: 7%;
  width: 300px;
  height: 100px;
  text-align: center;
}

.upperInvoices {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.upperInvoices * {
  margin: 10px;
}

.addInvoice {
  color: steelblue;
  font-size: 1.3em;
}

.recentInvoices {
  height: 200px;
  width: 100%;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.invoice {
  width: 150px;
  height: 175px;
  background: #f0f0f0;
  border-radius: 10px;
  margin: 5px 10px 5px 10px;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.invoice img {
  width: 60%;
  max-height: 100px;
}

.invoiceRendered {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  background: rgba(128, 128, 128, 0.6);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.invoiceRendered .exit {
  cursor: pointer;
  position: absolute;
  color: steelblue;
  top: 0;
  right: 0;
  padding: 7px;
  font-size: xx-large;
  background: white;
}

.invoiceFrame {
  width: 80%;
  height: 90vh;
}

/*# sourceMappingURL=style.global.css.map */
